<div class="jumbotron">
  <div class="container">
    <h1>ClassTime</h1>
    <p>Find other friends in your classes.</p>
    <%= link_to 'Get Started', new_schedules_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  </div>
</div>
